---
import "@/styles/globals.css";

import Album from "@/components/Landing/Album/Album.astro";
import GridPatternSection from "@/components/Landing/GridPatternSection/index.astro";
import { BentoGridSection } from "@/components/Landing/BentoGrid";
import { DotPatternDemo } from "@/components/Landing/DotPatternText";
import Header from "@/components/Landing/Header/index.astro";
import { MarqueeDemo } from "@/components/Landing/Marquee";
import ScrollWords from "@/components/Landing/ScrollWords/ScrollBasedVelocity";
import ScrollWordsBrands from "@/components/Landing/ScrollWords/ScrollBasedVelocityBrands";
import TextRevealByWord from "@/components/Landing/TextReveal";
import OurTeam from "@/components/Landing/OurTeam/index.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout pageTitle="Inicio | M&C Games Studio">
  <Header />
  <DotPatternDemo /> //! Change Name
  <MarqueeDemo /> //! Change Name
  <ScrollWordsBrands client:load />

  <section class="lg:px-40 px-20">
    <GridPatternSection text="¿Quienes somos?" hasButton={true} />
    <BentoGridSection />
  </section>
  <Album />
  <ScrollWords client:load />
  <br />

  <TextRevealByWord
    text="¿Estas listo para vivir esta experiencia?"
    client:load
  />
  <section class="h-max-[500px] pb-20 bg-white">
    <GridPatternSection text={"Nuestro Equipo"} darkText={true} />
    <OurTeam />
  </section>
</Layout>
