---
import "@/styles/globals.css";
import Layout from "@/layouts/Layout.astro";
import GridPatternSection from "@/components/Landing/GridPatternSection/index.astro";
---
<Layout pageTitle="Hecho por | M&C Games Studio">
    <GridPatternSection text="¡Lo has encontrado👀!" hasButton={true}/>
    <p class="text-white text-center my-5">Esta web ha sido hecha por <span><a href="#">Ian Restrepo</a> con 💚</span></p>
</Layout>
