<div class="w-full h-full lg:flex  justify-center my-40 lg:scale-125 hidden">

    <div class="h-24 w-32 sm:h-36 sm:w-44 lg:h-52 lg:w-52 border-4 border-white rounded-2xl rotate-3 opacity-60 hover:opacity-100 hover:scale-125 hover:z-20 transition-all">
      <img src="/Landing/Header_image_Black&White.jpg" class="object-cover h-full rounded-2xl" alt="Imagen de recuerdo gameplay">
    </div>
    

    <div class="h-36 w-44 lg:h-52 lg:w-52 border-4 border-white rounded-2xl -rotate-3 opacity-60 hover:opacity-100 hover:scale-125 hover:z-20 transition-all">
      <img src="/Landing/accesibilidad.png" class="object-cover h-full rounded-2xl" alt="Imagen de recuerdo gameplay">
    </div>

    <div class="h-36 w-44 lg:h-52 lg:w-52 border-4 border-white rounded-2xl rotate-3 opacity-60 hover:opacity-100 hover:scale-125 hover:z-20 transition-all">
      <img src="/Landing/seguridad.png" class="object-cover h-full rounded-2xl" alt="Imagen de recuerdo gameplay">
    </div>

    <div class="h-36 w-44 lg:h-52 lg:w-52 border-4 border-white rounded-2xl -rotate-3 opacity-60 hover:opacity-100 hover:scale-125 hover:z-20 transition-all">
      <img src="/Landing/amigos.png" class="object-cover h-full rounded-2xl" alt="Imagen de recuerdo gameplay">
    </div>

    <div class="h-36 w-44 lg:h-52 lg:w-52 border-4 border-white rounded-2xl rotate-3 opacity-60 hover:opacity-100 hover:scale-125 hover:z-20 transition-all">
      <img src="/Landing/camion.png" class="object-cover h-full rounded-2xl" alt="Imagen de recuerdo gameplay">
    </div>

    <div class="h-36 w-44 lg:h-52 lg:w-52 border-4 border-white rounded-2xl -rotate-3 opacity-60 hover:opacity-100 hover:scale-125 hover:z-20 transition-all">
      <img src="/Landing/cafe.png" class="object-cover h-full rounded-2xl" alt="Imagen de recuerdo gameplay">
    </div>

    <div class="h-36 w-44 lg:h-52 lg:w-52 border-4 border-white rounded-2xl rotate-3 opacity-60 hover:opacity-100 hover:scale-125 hover:z-20 transition-all">
      <img src="/Landing/camiones.png" class="object-cover h-full rounded-2xl" alt="Imagen de recuerdo gameplay">
    </div>
    
  </div>