---
import { CardDemo } from "@/components/TeamCard/index.tsx";
---

<section class="h-full w-full flex flex-wrap gap-4 justify-center">
  <CardDemo
    title="Billie"
    role="CEO"
    image="https://images.unsplash.com/photo-1668554245893-2430d0077217?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
    bgimage="https://www.lifeboxset.com/wp-content/uploads/2023/11/billie-eilish-2023-11-23_10-10-36.jpg"
  />
  <CardDemo
    title="Billie"
    role="CEO"
    image="https://images.unsplash.com/photo-1668554245893-2430d0077217?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
    bgimage="https://media.globalcitizen.org/thumbnails/bc/df/bcdf3412-5ec9-4ddd-ba4d-d409623b225c/billieeilish.jpg__1600x900_q85_crop_subsampling-2.jpg"
  />
  <CardDemo
    title="Billie"
    role="CEO"
    image="https://images.unsplash.com/photo-1668554245893-2430d0077217?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
    bgimage="https://a57.foxnews.com/static.foxnews.com/foxnews.com/content/uploads/2024/10/896/500/billie-eilish-onstage.jpg?ve=1&tl=1"
  />
  <CardDemo
    title="Billie"
    role="CEO"
    image="https://images.unsplash.com/photo-1668554245893-2430d0077217?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
    bgimage="https://i.abcnewsfe.com/a/037bd1a9-6a1c-4a56-b6c2-44b66200cf89/eilish2-file-gty-ml-240429_1714408820347_hpMain_1x1.jpg?w=992"
  />
  <CardDemo
    title="Billie"
    role="CEO"
    image="https://images.unsplash.com/photo-1668554245893-2430d0077217?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
    bgimage="https://www.latercera.com/resizer/v2/H3C6XIX4B5EF3JRYZEH7AFITKU.jpeg?quality=80&smart=true&auth=165192aa6827800cf58acccb30210b0c5f90c58fe26a74a70b4fb4cdbaeb91a5&width=1200&height=821"
  />
  <CardDemo
    title="Billie"
    role="CEO"
    image="https://images.unsplash.com/photo-1668554245893-2430d0077217?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
    bgimage="https://media-cldnry.s-nbcnews.com/image/upload/t_fit-1240w,f_auto,q_auto:best/rockcms/2022-02/220207-billie-eilish-mb-1241-294784.jpg"
  />

  <CardDemo
    title="Billie"
    role="CEO"
    image="https://images.unsplash.com/photo-1668554245893-2430d0077217?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
    bgimage="https://www.udiscovermusic.com/wp-content/uploads/2019/03/Billie-Eilish-2019-press-shot-web-optimised-1000-1000x600.jpg"
  />

  <CardDemo
    title="Billie"
    role="CEO"
    image="https://images.unsplash.com/photo-1668554245893-2430d0077217?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
    bgimage="https://www.opovo.com.br/_midias/jpg/2024/02/22/750x500/1_000_34jk8v3-25641211.jpg"
  />
</section>
