---
import { CardDemo } from "@/components/Landing/TeamCard/index.tsx";
---

<section class="h-full w-full flex flex-wrap gap-4 justify-center">
  <CardDemo
    title="Manuel Cortes"
    role="CEO & Head Developer"
    image="/Landing/Team/ManuelCortes.jpg"
    bgimage="/Landing/Team/ManuelCortes.jpg"
    desc="CEO Y Fundador además de ser quien lidera el desarrollo de MYC Es un pelao aventurero al que le gusta viajar por el mundo."
  />
  <CardDemo
    title="Ian Restrepo"
    role="Head Software Engineer"
    image="/Landing/Team/IanRestrepo.png"
    bgimage="/Landing/Team/IanRestrepo.png"
    desc="Head Software Engineer y Ex-Head Programmer, Ian es quien se encarga de todo el software y funcionamiento interno de MYC, Un emprendedor que se quiere comer el mundo de un solo bocado."
  />
  <CardDemo
    title="Deko"
    role="Builder"
    image="/Landing/Team/NanoDekodos.jpg"
    bgimage="/Landing/Team/NanoDekodos.jpg"
    desc="Más que un Builder, un Artista, Deko o Groovy es el responsable de las construcciones que verás en los proyectos de MYC, un Youtuber con todas las de la ley."
  />
  <CardDemo
    title="Black"
    role="Moderator & Tester"
    image="/Landing/Team/Black.jpg"
    bgimage="/Landing/Team/Black.jpg"
    desc="Black es un Moderador y Tester más que querido por la comunidad, Tiktoker y editor profesional, ¿Que más necesitas de este maestro?"
  />
  <CardDemo
    title="El_ZetaSV"
    role="Moderator & Tester"
    image="/Landing/Team/Zeta.jpg"
    bgimage="/Landing/Team/Zeta.jpg"
    desc="Zeta es un moderador & Tester, Tambien Tiktoker y Streamer en sus tiempos libres pero todo un profesional con las camarás y la edición."
  />
  <CardDemo
    title="Parra"
    role="Chassis Engineer"
    image="/Landing/Team/Parra.jpg"
    bgimage="/Landing/Team/Parra.jpg"
    desc="El ingeniero parrita, un joven con multiples conocimientos y encargado de hacer que vos estes en los carros más chimbas de todo el juego, ¿Sentís realistas los carros verdad?"
  />

  <CardDemo
    title="xDynamics"
    role="3D Modeler"
    image="/Landing/Team/Daniel.jpg"
    bgimage="/Landing/Team/Daniel.jpg"
    desc="Dani o xDynamics es un Nuevo integrante de MYC, le dicen el Picasso del 3D, es quien se encarga de modelar y crear cada uno de los vehiculos y objetos que podes ver en MYC."
  />

  <CardDemo
    title="Billie"
    role="Cantante Oficial de MYC"
    image="https://images.unsplash.com/photo-1668554245893-2430d0077217?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
    bgimage="https://www.opovo.com.br/_midias/jpg/2024/02/22/750x500/1_000_34jk8v3-25641211.jpg"
    desc="Ademas de tener una voz hermosa, es hermosa."
  />
</section>
